<html>
    <head>
        <title>Biblioteca</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
          .nav justify-content-center{
              height: 50%;
          }
        </style>
    </head>
    <body>
        <div class="jumbotron text-center" style="margin-bottom:0">
            <h1>Cadastro de Livros</h1>
        </div>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="margin-bottom:20">
            <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/1">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/3">Livros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/2">Tipos de usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/4">Categorias dos livros</a>
                </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <form action="salvar3" method="post">

                <input type="hidden" name="id3" value= "<%= (livros.length > 0 ? livros[0].id:"") %>">


                <div class="form-group">
                    <label for="usuario_id">Id do usuário:</label>
                    <input type="number" class="form-control" required="required" name="usuario_id" value= "<%= (livros.length > 0 ? livros[0].usuario_id:"") %>" id="usuario_id" size="10">
                </div>

                <div class="form-group">
                    <label for="titulo">Título:</label>
                    <input type="text" class="form-control" required="required" name="titulo" value= "<%= (livros.length > 0 ? livros[0].titulo:"") %>" id="titulo" size="50">
                </div>

                <div class="form-group">
                <label for="escritor">Escritor:</label>
                <input type="text" class="form-control" required="required" name="escritor" value= "<%= (livros.length > 0 ? livros[0].escritor:"") %>" id="escritor" size="40">
                </div>

                <div class="form-group">
                    <label for="editora">Editora:</label>
                    <input type="text" class="form-control" required="required" name="editora" value= "<%= (livros.length > 0 ? livros[0].editora:"") %>" id="editora" size="40">
                </div>

                <div class="form-group">
                    <label for="ano_publicacao">Ano de publicação:</label>
                    <input type="number" class="form-control" required="required" name="ano_publicacao" value= "<%= (livros.length > 0 ? livros[0].ano_publicacao:"") %>" id="ano_publicacao" size="20">
                </div>      

                <div class="form-group">
                    <label for="numero_edicao">Número de edição:</label>
                    <input type="number" class="form-control" required="required" name="numero_edicao" value= "<%= (livros.length > 0 ? livros[0].numero_edicao:"") %>" id="numero_edicao" size="30">
                </div>

                <div class="form-group">
                    <label for="paginas">Número de páginas:</label>
                    <input type="number" class="form-control" required="required" name="paginas" value= "<%= (livros.length > 0 ? livros[0].paginas:"") %>" id="paginas" size="20">
                </div>

                <div class="form-group">
                    <label for="categoria_id">Id da categoria do livro:</label>
                    <input type="number" class="form-control" required="required" name="categoria_id" value= "<%= (livros.length > 0 ? livros[0].categoria_id:"") %>" id="categoria_id" size="10">
                </div>

                <div class="form-group">
                    <label for="preco">Preço:</label>
                    <input type="number" step=".01" class="form-control" required="required" name="preco" value= "<%= (livros.length > 0 ? livros[0].preco:"") %>" id="preco" size="20">
                </div>
            </div>

            <div class="jumbotron text-center" style="margin-bottom:0">
                <input type="submit" class="btn btn-outline-primary" role="button" name="acao3" value="Atualizar">
                <input type="reset" class="btn btn-outline-primary" role="button" name="acao3" value="Cancelar">
            </div>
        </form>
        
    </body>
</html>